h1, h2, h3, h4, h5, h6{
    color: #212779;
    font-family: 'Roboto Slab', serif;
}

p{
    color: #212779;
    /* font-family: ; */
}

a{
    color: #ED4C1C; 
}

.btn-primary{
        background-color: #212779;
        border: #212779;
        border-radius: 24px;
}

.btn-secondary{
    background-color: #ED4C1C;
    border: #ED4C1C;
    border-radius: 24px;
}
/* -----------NAV */
.bg-dark{
    background-image: url("/images/MainNav.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link{
    color: white !important;
}

.dropdown-toggle::after{
    color: #009FC0;
}
/* -----------SECONDARY NAV */
.bg-primary{
    background-color: #009FC0 !important;
    z-index: 98;
}

/* -----------CAROUSEL */
.carousel-caption h3{
    color: white;
    /* font-family: ; */
}

.carousel-caption p{
    color: white;
    /* font-family: ; */
}

/* -----------CARDS */
.card-image{
    border-radius: 50%;
    max-width: 100%;
}

/* -----------ARTICLES */
.card-body img{
    border-radius: 50%;
}

/* -----------SCROLL TO TOP */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    width: 50px;
    height: 50px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #ED4C1C; 
    color: white; 
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #f16c43; 
  }